/*Especificidad: 001*/
body  {
  font-family: Tahoma, sans-serif;
  color:black;
  background-color: rgb(189, 189, 189);
}
  /*Especificidad: 001*/
 form{  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color:black;
  background-color: rgb(48, 48, 48);
  width: 30%;
  height: auto;
 }
 /*Especificidad: 011*/
 input:first-child {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 1;
  color:rgb(44, 44, 44);
  background-color: white;
 }
  /*Especificidad: 002*/
  form input{
    color:white;
    background-color: rgb(44, 44, 44);
    font-size: 500%;
    
  } 
  /*Especificidad: 001*/
  h1 {
      color: #fff;    
      background-color:rgb(0, 0, 0); 
      font-size: 150%;
   }
   /*Especificidad: 001*/
   label{
    color: #fff;    
    background-color: rgb(44, 44, 44);

   }